body {
  background-color: black;
  color: white;
}

.my_container {
  padding: 25px;
}

.section1 {
  height: 45em;
}
.rss {
  margin-top: 20px;
}
.section2 {
  height: 1em;
}
.section3 {
  height: 1em;
}

ul {
  list-style: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
#commands{
  margin-top: 20px;
}
.authorize {
  margin-right: 15px;
}
.auth-btn {
  color: black;
  font-weight: bold;
}
